body,div,ul,li,a,p,span,label{
    margin:0;
    padding:0;
}
.ind_main{
    /*border:1px solid red;*/
    /*text-align:center;*/
    overflow-x:hidden;
    position:relative;
    z-index:1;
    }
li{
    list-style-type:none;
  }
.ind_main_top{
    position:fixed;
    z-index:3;
    top:0;
    left:0;
    margin:0 auto;
}
.ind_top_auto{
    /*margin:0 auto;*/
    width:1100px;
    /*border:1px solid red;*/
    position:absolute;
    top:0;
    left:50%;
    margin-left:-550px;
    z-index:5;
    overflow:hidden;

}
.ind_top_auto img{
    float:left;
    margin-left:106px;
    margin-top:18px;
}
.ind_top_auto ul{
    float:right;
    overflow: hidden;
}
.ind_top_auto ul li{
    float:left;
    margin-right:42px;
    /*background: #000000;*/
    background:rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
    filter:Alpha(opacity=0); background:#fff;/*实现IE背景透明*/
}
.ind_top_auto ul li a{
    font-family:"微软雅黑";
    font-size:14px;
    color: #e2be66;
    text-decoration:none;
    position:relative;
}
.ind_top_yuan{
    position:fixed;
    z-index:1000;
}
.ind_main_rea{
    position:relative;
    top: -3px;
}
.ind_main_bottom{
    height:142px;
    background:#F2F2F2;
}
/*.ind_main_bottom ul{*/
    /*overflow:hidden;*/
    /*width:452px;*/
/*}*/
.ind_bottom_left ul li{
    color:#999999;
    float:left;
    margin-right:25px;
    position:relative;
}
.ind_bottom_left{
    font-family:"微软雅黑";
    font-size:10px;
    float:left;
 }
.ind_main_bottom ul .ind_main_li{
    margin-right:0;
}
.ind_main_li img{
    position:relative;
    top:3px;
    right:5px;
}
.ind_bottom_auto{
    margin:0 auto;
    width:954px;
}
.ind_bottom_left a{
    text-decoration:none;
    color: #534437;
}
.ind_bottom_num{
    padding-top:20px;
    position:relative;
    color: #534437;
    font-family:"Century Gothic";
}
.ind_bottom_num img{
    position:relative;
    top:6px;
    left:-8px;
}
.ind_bottom_num span{
    font-size:26px;
}
.ind_bottom_num label{
    font-size:20px;
}
.ind_bottom_a{
    padding:10px 0;
}
.ind_bottom_right{
    float:right;
    padding-top:12px;
}
.ind_bottom_right ul li{
    float: left;
}
.ind_tmall{
    padding-right:50px;
}
.ind_main_nav{
    padding-top: 30px;
    height:40px;
    line-height:40px;
    position:absolute;
    *position: relative;
    width:100%;
    margin-top:-33px;
    margin-top:-35px\9\0;
    *margin-top:-35px;
    z-index: 999;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    display:none;
}
@-moz-document url-prefix(){
    .ind_main_nav {
        margin-top:-35px;
    }}
.ind_nav_auto{
    width:1100px;
    margin:0 auto;
    overflow:hidden;

}
.er_color{
    background:#4a392b;
}
.ind_nav_auto ul{
    float:right;
}
.ind_nav_auto ul li{
    float: left;
    font-family:"微软雅黑";
    font-size:12px;

    padding-right:30px;
    cursor:pointer;
}
.ind_nav_auto ul li a{
    color:white;
    text-decoration:none;
}
.ind_nav_auto ul li span{
    font-family: "Arial";
    font-size: 10px;
}
.ind_bottom_a a:hover{
    color:#666;
}
.ind_top_auto ul li .white{
    color:white;
}
.ind_nav_auto ul li a:hover{
    color:#e2be66;
}
.logo_title{
    color: #5F544B;
    font-family: "微软雅黑";
    font-size: 12px;
    font-weight: bold;
    text-align: center;

}
.hover_bot:hover .logo_title{
    color: #333333;
}
.hover_bot img{
    border: none;
}
.haha{
    text-decoration: none;
}
.nav_two li{
    background:url("../images/dot.png") left no-repeat;
    text-align:left;
    padding: 1px 0 3px 15px;
}
.ind_top_auto ul li a:hover{
   text-decoration:underline;
}
#line_height{
    line-height: 90px;
}

